Repository juno-sorkin/mono-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: pants-lint, terraform-test

.pre-commit-config.yaml:

# .pre-commit-config.yaml

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  -   id: trailing-whitespace
  -   id: end-of-file-fixer
  -   id: check-yaml
  -   id: check-added-large-files

- repo: local
  hooks:
  # - id: pants-fmt
  #   name: pants-fmt
  #   entry: pants fmt
  #   language: system
  #   stages: [pre-commit]
  #   pass_filenames: false
  #   files: \.(py)$
  #   exclude: ^templates/

  - id: pants-lint
    name: pants-lint
    entry: pants lint
    language: system
    stages: [pre-commit]
    pass_filenames: false
    files: \.(py)$
    exclude: ^templates/

  - id: terraform-test
    name: terraform-test
    entry: bash -c 'cd "$(dirname "$0")/.." && terraform init -backend=false && terraform test'
    language: system
    stages: [pre-commit]
    pass_filenames: true
    files: \.tftest\.hcl$

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.100.0
  hooks:
     - id: terraform_fmt
     - id: terraform_validate
     - id: terraform_tflint
       args:
        - '--args=--config=__GIT_WORKING_DIR__/.tflint.hcl'
     - id: terraform_docs
       args:
        - '--args=--lockfile=false'

fixed ci file paths
  .github/workflows/test-library.yml
  .github/workflows/validate-modules.yml
Due: none

fixed ci file paths
  .github/workflows/validate-modules.yml
  tests/test_dummy.py
Due: pants-lint

fixed ci file paths
  tests/packages/test_dummy.py
  tests/services/test_dummy.py
Due: pants-lint

fixed ci file paths
  .github/workflows/validate-modules.yml
  docs/sad.md
  tests/services/BUILD
Due: none

fixed ci file paths
  .github/workflows/validate-modules.yml
Due: none

fixed ci file paths
  .github/workflows/test-library.yml
Due: none

add terraform smoke test
  .github/workflows/test-library.yml
  .github/workflows/validate-modules.yml
  3rdparty/python/python-deps.lock
  3rdparty/tools/.tool-versions
  3rdparty/tools/tools-deps.lock
  README.md
  docs/dev.md
  docs/usage.md
  infra-packages/aws/batch_metaflow/versions.tf
  infra-packages/aws/ecr_unop/README.md
  infra-packages/aws/ecr_unop/main.tf
  infra-packages/aws/ecr_unop/variables.tf
  infra-packages/aws/iam_metaflow/main.tf
  pants.toml
  pyproject.toml
  services/qwen_ft/flows/smoke_test/cpu_test_flow.py
  services/qwen_ft/infra/Terraform.tfvars
  services/qwen_ft/infra/backend.tf
  services/qwen_ft/infra/docs/sad.md
  services/qwen_ft/infra/main.tf
  services/qwen_ft/infra/providers.tf
  services/qwen_ft/infra/variables.tf
  services/qwen_ft/src/qwen_ft/main.py
Due: pants-lint

feat: Add MIT License
  LICENSE
Due: none

chore: Ignore terraform.tfvars files
  .gitignore
Due: none

fixed merge changes
  .github/workflows/python-ci.yml
  .github/workflows/terraform-ci.yml
  .github/workflows/test-library.yml
Due: none

add module outline to qwen_fet
  .github/workflows/test-library.yml
  .github/workflows/validate-modules.yml
  3rdparty/BUILD
  3rdparty/python/BUILD
  3rdparty/tools/BUILD
  pants.toml
  services/qwen_ft/flows/imperative.py
  services/qwen_ft/infra/README.md
  services/qwen_ft/infra/Terraform.tfvars
  services/qwen_ft/infra/backend.tf
  services/qwen_ft/infra/docs/sad.md
  services/qwen_ft/infra/main.tf
  services/qwen_ft/infra/outputs.tf
  services/qwen_ft/infra/providers.tf
  services/qwen_ft/infra/variables.tf
  services/qwen_ft/infra/versions.tf
  tests/packages/BUILD
Due: pants-lint

fixed merge changes
  infra-packages/aws/iam_metaflow/tests/test.tftest.hcl
Due: terraform-test

fixed merge changes
  pants.toml
Due: none

fix pants.toml pytest pathing
  3rdparty/python/python-deps.lock
  3rdparty/tools/tools-deps.lock
Due: none

fix pants.toml pytest pathing
  pants.toml
  tests/packages/BUILD
  tests/services/BUILD
Due: none

fix pre-commit language contraint
  tests/packages/BUILD
  tests/services/BUILD
Due: none

fix pre-commit language contraint
  .github/workflows/python-ci.yml
Due: none

fix pre-commit language contraint
  pants.toml
Due: none

fix pre-commit language contraint
  3rdparty/python/BUILD
  3rdparty/tools/BUILD
  3rdparty/tools/tools-reqs.txt
Due: none

fix pre-commit language contraint
  3rdparty/tools/tools-reqs.txt
  pyproject.toml
Due: none

fix ci deps install
  .github/ci.Dockerfile
  .github/workflows/terraform-ci.yml
  3rdparty/tools/.tool-versions
Due: none

fix ci deps install
  .github/workflows/terraform-ci.yml
Due: none

fix ci deps install
  .github/workflows/terraform-ci.yml
  ditty-bag/install-dev-tools.sh
Due: none

fix ci deps install
  .github/workflows/terraform-ci.yml
  3rdparty/tools/.tool-versions
  ditty-bag/install-dev-tools.sh
Due: none

fix ci deps install
  .github/workflows/.tool-versions
  3rdparty/tools/README.md
Due: none

fix ci deps install
  .tool-versions
  3rdparty/tools/README.md
Due: none

fix ci deps install
  .github/BUILD
Due: none

fix ci deps install
  .tool-versions
  ditty-bag/install-dev-tools.sh
Due: none

Feat/root modules (#5)
  .github/BUILD
  .github/ci.Dockerfile
  .github/workflows/python-ci.yml
  .github/workflows/terraform-ci.yml
  .github/workflows/test-library.yml
  .github/workflows/validate-modules.yml
  .gitignore
  .tool-versions
  3rdparty/BUILD
  3rdparty/python/BUILD
  3rdparty/tools/.tool-versions
  3rdparty/tools/BUILD
  3rdparty/tools/README.md
  3rdparty/tools/tools-reqs.txt
  LICENSE
  README.md
  docs/dev.md
  docs/usage.md
  infra-packages/aws/batch_metaflow/versions.tf
  infra-packages/aws/ecr_unop/README.md
  infra-packages/aws/ecr_unop/main.tf
  infra-packages/aws/ecr_unop/variables.tf
  infra-packages/aws/iam_metaflow/main.tf
  infra-packages/aws/iam_metaflow/tests/test.tftest.hcl
  pants.toml
  pyproject.toml
  services/qwen_ft/flows/imperative.py
  services/qwen_ft/flows/smoke_test/cpu_test_flow.py
  services/qwen_ft/infra/README.md
  services/qwen_ft/infra/backend.tf
  services/qwen_ft/infra/docs/sad.md
  services/qwen_ft/infra/main.tf
  services/qwen_ft/infra/outputs.tf
  services/qwen_ft/infra/providers.tf
  services/qwen_ft/infra/variables.tf
  services/qwen_ft/infra/versions.tf
  services/qwen_ft/src/qwen_ft/main.py
  tests/BUILD
  tests/packages/BUILD
Due: pants-lint, terraform-test

add more documentation
  README.md
  docs/dev.md
Due: none

resolve rebase
  3rdparty/tools/README.md
  README.md
Due: none

resolve rebase
  infra-packages/aws/batch_metaflow/main.tf
  templates/template-infra/{{ cookiecutter.infra_slug }}/versions.tf
Due: none

resolve rebase
  .github/workflows/terraform-ci.yml
  infra-packages/aws/README.md
Due: none

resolve rebase
  .github/workflows/python-ci.yml
  3rdparty/python/python-reqs.lock
  3rdparty/tools/tools-reqs.lock
  tests/packages/test_dummy.py
  tests/services/test_dummy.py
Due: pants-lint

resolve rebase
  .github/workflows/python-ci.yml
Due: none
