Repository juno-sorkin/mono-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: pants-lint, terraform-test

.pre-commit-config.yaml:

# .pre-commit-config.yaml

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  -   id: trailing-whitespace
  -   id: end-of-file-fixer
  -   id: check-yaml
  -   id: check-added-large-files

- repo: local
  hooks:
  # - id: pants-fmt
  #   name: pants-fmt
  #   entry: pants fmt
  #   language: system
  #   stages: [pre-commit]
  #   pass_filenames: false
  #   files: \.(py)$
  #   exclude: ^templates/

  - id: pants-lint
    name: pants-lint
    entry: pants lint
    language: system
    stages: [pre-commit]
    pass_filenames: false
    files: \.(py)$
    exclude: ^templates/

  - id: terraform-test
    name: terraform-test
    entry: bash -c 'cd "$(dirname "$0")/.." && terraform init -backend=false && terraform test'
    language: system
    stages: [pre-commit]
    pass_filenames: true
    files: \.tftest\.hcl$

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.100.0
  hooks:
     - id: terraform_fmt
     - id: terraform_validate
     - id: terraform_tflint
       args:
        - '--args=--config=__GIT_WORKING_DIR__/.tflint.hcl'
     - id: terraform_docs
       args:
        - '--args=--lockfile=false'

enabled cookiecutter in pants hermitcally
  3rdparty/tools/BUILD
  3rdparty/tools/tools-reqs.txt
  infra-packages/aws/metaflow:batch/BUILD
  infra-packages/aws/metaflow:batch/README.md
  infra-packages/aws/metaflow:batch/docs/sad.md
  infra-packages/aws/metaflow:batch/main.tf
  infra-packages/aws/metaflow:batch/outputs.tf
  infra-packages/aws/metaflow:batch/tests/test.tftest.hcl
  infra-packages/aws/metaflow:batch/variables.tf
  infra-packages/aws/metaflow:batch/versions.tf
  pants.toml
  templates/template-infra/cookiecutter.json
  templates/template-infra/hooks/post_gen_project.sh
  templates/template-infra/{{ cookiecutter.infra_slug }}/versions.tf
  tools/BUILD
Due: terraform-test

add further terraform support with pants
  packages/metaflow_tools/BUILD
  packages/metaflow_tools/README.md
  packages/metaflow_tools/docs/sad.md
  packages/metaflow_tools/src/metaflow_tools/BUILD
  packages/metaflow_tools/src/metaflow_tools/__init__.py
  pants.toml
  services/qwen_ft/README.md
  services/qwen_ft/docs/sad.md
  services/qwen_ft/flows/imperative.py
  services/qwen_ft/flows/smoke_test/cpu_test_flow.py
  services/qwen_ft/infra/BUILD
  services/qwen_ft/infra/README.md
  services/qwen_ft/infra/backend.tf
  services/qwen_ft/infra/docs/sad.md
  services/qwen_ft/infra/main.tf
  services/qwen_ft/infra/outputs.tf
  services/qwen_ft/infra/providers.tf
  services/qwen_ft/infra/tests/test.tftest.hcl
  services/qwen_ft/infra/variables.tf
  services/qwen_ft/infra/versions.tf
  services/qwen_ft/src/qwen_ft/BUILD
  services/qwen_ft/src/qwen_ft/__init__.py
  services/qwen_ft/src/qwen_ft/main.py
Due: pants-lint, terraform-test

add workflow pants support
  .github/workflows/python-ci.yml
Due: none

add known versions for terraform in pants
  docs/index.md
  docs/sad.md
  infra-packages/aws/README.md
  infra-packages/aws/docs/deps.md
  infra-packages/aws/docs/sad.md
  templates/template-infra/hooks/post_gen_project.sh
Due: none

add terraform support
  pants.toml
Due: none

streamline and update ci workflow
  3rdparty/python/python-reqs.lock
  3rdparty/tools/tools-reqs.lock
  docs/sad.md
  infra-packages/aws/docs/deps.md
  pants.toml
Due: none

concatinate metaflow resource module
  BUILD_MACROS.py
  infra-packages/aws/metaflow_batch/main.tf
  infra-packages/aws/metaflow_batch/outputs.tf
  infra-packages/aws/metaflow_batch/versions.tf
  target/BUILD
  target/README.md
  tools/BUILD
Due: pants-lint

Add comprehensive Terraform test suite for unop_vpc module.
  infra-packages/aws/unop_vpc/README.md
  infra-packages/aws/unop_vpc/main.tf
  infra-packages/aws/unop_vpc/outputs.tf
  infra-packages/aws/unop_vpc/tests/basic.tftest.hcl
  infra-packages/aws/unop_vpc/tests/endpoints.tftest.hcl
  infra-packages/aws/unop_vpc/tests/igw_toggle.tftest.hcl
  infra-packages/aws/unop_vpc/tests/multi_az.tftest.hcl
  infra-packages/aws/unop_vpc/tests/subnet_toggles.tftest.hcl
  infra-packages/aws/unop_vpc/tests/test.tftest.hcl
  infra-packages/aws/unop_vpc/tests/validation.tftest.hcl
  infra-packages/aws/unop_vpc/variables.tf
  infra-packages/aws/unop_vpc/versions.tf
Due: terraform-test

expand module calls in metaflow:batch
  .tool-versions
  3rdparty/python/python-reqs.lock
  3rdparty/tools/tools-reqs.lock
  infra-packages/aws/metaflow_batch/main.tf
  infra-packages/aws/metaflow_batch/variables.tf
  infra-packages/aws/metaflow_batch/versions.tf
  infra-packages/aws/unop_vpc/main.tf
  infra-packages/aws/unop_vpc/variables.tf
Due: none

reformat metaflow batch
  .tool-versions
  infra-packages/aws/metaflow_batch/BUILD
  infra-packages/aws/metaflow_batch/README.md
  infra-packages/aws/metaflow_batch/docs/sad.md
  infra-packages/aws/metaflow_batch/main.tf
  infra-packages/aws/metaflow_batch/outputs.tf
  infra-packages/aws/metaflow_batch/tests/test.tftest.hcl
  infra-packages/aws/metaflow_batch/variables.tf
  infra-packages/aws/metaflow_batch/versions.tf
  infra-packages/aws/unop_vpc/README.md
  infra-packages/aws/unop_vpc/tests/igw_toggle.tftest.hcl
  infra-packages/aws/unop_vpc/tests/multi_az.tftest.hcl
  infra-packages/aws/unop_vpc/tests/subnet_toggles.tftest.hcl
  infra-packages/aws/unop_vpc/tests/validation.tftest.hcl
  infra-packages/aws/unop_vpc/variables.tf
  templates/template-infra/hooks/post_gen_project.sh
Due: terraform-test
